body{
    margin: 0;
}
table,
th,
td {
    /* border: 1px solid black; */
}
table{
    
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;

}
.definition{
    color: white;
    background-color: black;
}
tr.definition{
    height: 10px;
}

img{
    width: 60px;
    height: 60px;
}
.white{
    height: 50px;
    background-color: #fbcc9c;
}
.black{
    height: 50px;
    background-color: #d38c44;
}